/* jag lägger animation på body */

body {
background-color: black;
    font-family: 'Sans Comic Sans', sans-serif;
    color: white;
    animation: backgorundRainbow 5s linear infinite

}

h1 {
    font-size: 50px;
}


.ac-ability-btn.used {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

#ac-ability-panel{
    width:420px;
    position: relative;
    border:2px solid #444;
    border-radius:10px;

}

@media (max-width:800px) {
    #ac-ability-panel{
        width:420px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 100%;
        border:2px solid #444;
        border-radius:10px;
        margin-bottom: 100px;
    
    }
    #clicker-box {
    width: 100px;
    position: absolute;
    left:42%;
    top: 50%;
    margin: 0;

    transform: translate(-40%, -50%);
}
body {
    padding-bottom: 1000px;
}

}

#ac-panel-title{
    padding:12px;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    border-bottom:1px solid #444;

    border-radius:10px;
}

.ac-ability-row{
    display:flex;
    align-items:center;
    padding:12px;
    border-bottom:1px solid #3a3a3a;
}

.ac-ability-row:last-child{
    border-bottom:none;
}

.ac-ability-icon{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:6px;
    margin-right:10px;
}

.ac-ability-text{
    flex:1;
}

.ac-ability-name{
    font-weight:bold;
    font-size:14px;
}

.ac-ability-desc{
    font-size:18px;
    color: white
}

.ac-ability-btn{
    padding:10px 15px;
    background:#4caf50;
    border-radius:6px;
    font-size:15px;
    cursor:pointer;
}

.ac-ability-btn:hover{
    background:#43a047;
}

@keyframes backgorundRainbow {
    0% {
        background-color: rgb(255, 0, 183);
    } 25% {
        background-color: red;
    } 50% {
        background-color: rgb(128, 119, 0);
    } 75% {
        background-color: red;
    }
    100% {
        background-color: rgb(255, 0, 183);
    }
}

 .stop-btn {
    position: absolute;
    top: 8.5%;
    left: 80%;
    width: 20%;
    height: 50px;
}


#clicker-box {
    width: 100px;
    position: absolute;
    left:50%;
    top: 50%;
    margin: 0;

    transform: translate(-100%, -50%);
}

/* animation på bilden, så att den spinnas */
#clicker-box img {
    width: 100%;
    animation: spinning 2s linear infinite;
    width: 230px;
    height: 230px;
    left: 50%;

}

h4 {
    transition: 150ms;
    opacity: 0;
    position: absolute;
    left: 70%;
    border: 1px solid white;
    padding: 1%;
    border-radius: 15px;
    width: 25%;
}

@keyframes spinning {
    0% {
        rotate: 0deg;
    } 100% {
        rotate: 360deg;
    }
}

h3 {
    opacity: 0;
    font-size: 100px;
    position: absolute;
    left: 30%;
    animation-play-state: paused;
}

/* keyframes animation för när en påäng ska visas */
@keyframes showPoint {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
        transform: translate(0%, 50%);
    }
}

button {
    position: absolute;
    bottom: 0;
    padding: 1%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 9px;
    border: none;
    font-family: 'Sans Comic Sans', sans-serif;
    font-size: 20px;
    font-weight: 900;
}